{% extends 'index.html' %}

{% block title %}
    Subscriptions
{% endblock %}


{% block extra_css %}
    <style>
        .card{
          position: relative;
          max-width: 300px;
          height: 380px;
          background: linear-gradient(-45deg,#fe0847,#feae3f);
          border-radius: 15px;
          margin: 0 auto 20px;
          padding: 20px 20px;
          -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
                  box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
        -webkit-transition: .5s;
        transition: .5s;
        }
        .card:hover{
          -webkit-transform: scale(1.1);
                  transform: scale(1.1);
        }
        .plan-card:nth-child(1) .card ,
        .plan-card:nth-child(1) .card .title .fa{
          background: linear-gradient(-45deg,#f403d1,#64b5f6);

        }
        .plan-card:nth-child(2) .card,
        .plan-card:nth-child(2) .card .title .fa{
          background: linear-gradient(-45deg,#ffec61,#f321d7);

        }
        .plan-card:nth-child(3) .card,
        .plan-card:nth-child(3) .card .title .fa{
          background: linear-gradient(-45deg,#24ff72,#9a4eff);

        }

        .title .fa{
          color:#fff;
          font-size: 60px;
          width: 100px;
          height: 100px;
          border-radius:  50%;
          text-align: center;
          line-height: 100px;
          -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.1) ;
                  box-shadow: 0 10px 10px rgba(0,0,0,.1) ;

        }
        .title h2 {
          position: relative;
          margin: 20px  0 0;
          padding: 0;
          color: #fff;
          font-size: 28px;
         z-index: 2;
        }
        .price,.option{
          position: relative;
          z-index: 2;
        }
        .price h4 {
        margin: 0;
        padding: 20px 0 ;
        color: #fff;
        font-size: 60px;
        }
        .option ul {
          margin: 0;
          padding: 0;

        }
        .option ul li {
        margin: 0 0 10px;
        padding: 0;
        list-style: none;
        color: #fff;
        font-size: 16px;
        }
        .card a {
          position: relative;
          z-index: 2;
          background: #fff;
          color : black;
          width: 150px;
          height: 40px;
          line-height: 40px;
          border-radius: 40px;
          display: block;
          text-align: center;
          margin: 20px auto 0 ;
          font-size: 16px;
          cursor: pointer;
          -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
                  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

        }
        .card a:hover{
            text-decoration: none;
        }
        section.content {
            margin-top: 30px;
        }
    </style>


{% endblock %}

{% block content_header %}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row justify-content-end">
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Home</li>
              <li class="breadcrumb-item active"><a href="#">Subscriptions</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block content %}
<section>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        {% if not request.user.is_free_trial_used or not request.user.is_plan_selected %}
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 col-12 col plan-card">
              <div class="card text-center">

                <div class="price">
                  <h4><sup>₹</sup>0</h4>
                </div>

                <div class="option">
                  <ul>
                  <li> <i class="fa fa-check" aria-hidden="true"></i> 14 Days </li>
                  <li> <i class="fa fa-check" aria-hidden="true"></i> Free Trial </li>
                  <li> <i class="fa fa-check" aria-hidden="true"></i> 20 Email Address </li>
                  <li> <i class="fa fa-times" aria-hidden="true"></i> Live Support </li>
                  </ul>
                </div>


                <a href="{% url 'activate_free_trial' %}" class="stripe-product {% if request.user.is_superuser %}disabled{% endif %}"
                   {% if not request.user.is_superuser %}data-value="{{ product.stripeProductId }}" id="submitBtn"{% endif %}
                    {% if request.user.is_superuser %}disabled{% endif %}>
                    Subscribe
                </a>
              </div>
            </div>
        {% endif %}

          {% for product in products %}
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 col-12 col plan-card">
              <div class="card text-center">

                <div class="price">
                  <h4><sup>₹</sup>{{ product.price }}</h4>
                </div>

                <div class="option">
                  <ul>
                  <li> <i class="fa fa-check" aria-hidden="true"></i> {{ product.billingPeriod }} </li>
                  <li> <i class="fa fa-check" aria-hidden="true"></i> 3 Domain Names </li>
                  <li> <i class="fa fa-check" aria-hidden="true"></i> 20 Email Address </li>
                  <li> <i class="fa fa-times" aria-hidden="true"></i> Live Support </li>
                  </ul>
                </div>


                <a type="submit" class="stripe-product {% if request.user.is_superuser %}disabled{% endif %}"
                   {% if not request.user.is_superuser %}data-value="{{ product.stripeProductId }}" id="submitBtn"{% endif %}
                    {% if request.user.is_superuser %}disabled{% endif %}>
                    Subscribe
                </a>
              </div>
            </div>
          {% endfor %}

      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block extra_js %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe;
        $( document ).ready(function() {
            $.ajax({
            url: '/config/',
            method:'get',
            dataType: 'json',
            success: function (data) {
                console.log("get");
                stripe  = Stripe(data.publicKey);
            }
          });
        });

        $(".stripe-product").click(function () {
          stripeProductId = $(this).data('value');
          $.ajax({
            url: '/create-checkout-session/',
            method:'post',
            data: {'stripeProductId': stripeProductId},
            dataType: 'json',
            success: function (data) {
                return stripe.redirectToCheckout({sessionId: data.sessionId})
            },
              error: function (jqXHR, exception) {
                console.log(exception);
                },
          });

        });
    </script>
{% endblock %}