{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
     <a href="{% url 'dashboard' %}" class="brand-link">
        <div class="side-nev-logo">
            <img src="{% static 'img/logo-nserc.png' %}" alt="AdminLTE Logo" class="logo-img" />
        </div>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        {% if request.user.is_authenticated %}
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="username-image">
                <p>{{ request.user.dashboard_name }}</p>
            </div>
            <div class="info">
                <a href="{% url 'update_profile' request.user.pk %}" class="d-block">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </a>
            </div>
        </div>
        {% endif %}

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">MENU</li>
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                        <i class="nav-icon fa fa-home"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'subscriptions' %}" class="nav-link {% if request.resolver_match.url_name == 'subscriptions' %}active{% endif %}">

                        <i class="nav-icon fa fa-list-ul"></i>
                        <p>
                            Subscriptions
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'update_profile' request.user.pk %}" class="nav-link {% if request.resolver_match.url_name == 'update_profile' %}active{% endif %}">

                        <i class="nav-icon fa fa-user-circle"></i>
                        <p>
                            My Account
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'my_subscriptions' %}" class="nav-link {% if request.resolver_match.url_name == 'my_subscriptions' %}active{% endif %}">

                        <i class="nav-icon fa fa-credit-card"></i>
                        <p>
                            My Subscriptions
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">

                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p>
                            Log Out
                        </p>
                    </a>
                </li>

                {% if user.is_superuser %}
                    <li class="nav-header">Admin</li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'list_users' or request.resolver_match.url_name == 'add_user' %}menu-open{% endif %}">
                        <a class="nav-link">
                            <i class="fas fa-users nav-icon"></i>
                            <p>
                                Users
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>

                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'add_user' %}" class="nav-link {% if request.resolver_match.url_name == 'add_user' %}active{% endif %}">
                                    <i class="fas fa-user-plus nav-icon"></i>
                                    <p>Add</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'list_users' %}" class="nav-link {% if request.resolver_match.url_name == 'list_users' %}active{% endif %}">
                                    <i class="fas fa-list-ul nav-icon"></i>
                                    <p>List</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item {% if request.resolver_match.url_name == 'list_products' or request.resolver_match.url_name == 'add_product' %}menu-open{% endif %}">
                        <a class="nav-link">
                            <i class="fa fa-cart-arrow-down nav-icon"></i>
                            <p>
                                Products
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>

                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'add_product' %}" class="nav-link {% if request.resolver_match.url_name == 'add_product' %}active{% endif %}">
                                    <i class="fas fa-user-plus nav-icon"></i>
                                    <p>Add</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'list_products' %}" class="nav-link {% if request.resolver_match.url_name == 'list_products' %}active{% endif %}">
                                    <i class="fas fa-list-ul nav-icon"></i>
                                    <p>List</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</aside>

