{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GYNERO | Reset Password</title>

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'theme/app/dist/app.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- End Style CSS -->

    <link rel="shortcut icon" href="{% static 'theme/assets/images/logo/favicon.png' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'theme/assets/images/logo/favicon.png' %}" />

      <style>
          [for~="id_new_password2"] {
              margin-top: 25px;
          }
      </style>
  </head>
  <body class="body header-fixed">
    <!-- PageTitle -->
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="heading">Reset Password</h3>
          </div>
          <div class="col-md-6">
            <ul class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><p class="fs-18">/</p></li>
              <li><p class="fs-18">Reset Password</p></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End PageTitle -->

    <section class="register login">
      <div class="container">
        <div class="row">
        <div class="container p-4">
            <h2 class="font-weight-bold mt-3">Password reset complete</h2>
            <hr>
            <p style="margin-bottom: 15px;">Your password has been set. You may go ahead and log in now.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
        </div>
    </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container-fluid bg">
        <div class="footer__bottom">
          <p>Copyright © 2022 Gynero Portal. All rights reserved.</p>
          <ul class="list-social">
            <li>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="{% static 'theme/app/js/aos.js' %}"></script>
    <script src="{% static 'theme/app/js/jquery.min.js' %}"></script>
    <script src="{% static 'theme/app/js/jquery.easing.js' %}"></script>
    <script src="{% static 'theme/app/js/popper.min.js' %}"></script>
    <script src="{% static 'theme/app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'theme/app/js/app.js' %}"></script>
    <script src="{% static 'theme/app/js/jquery.peity.min.js' %}"></script>

    <script src="{% static 'theme/app/js/switchmode.js' %}"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

    <script>
        $('#id_new_password1').addClass('form-control');
        $('#id_new_password2').addClass('form-control');
    </script>
  </body>
</html>
