{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GYNERO | Reset Password</title>

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'theme/app/dist/app.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- End Style CSS -->

    <link rel="shortcut icon" href="{% static 'theme/assets/images/logo/favicon.png' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'theme/assets/images/logo/favicon.png' %}" />
  </head>
  <body class="body header-fixed">
    <!-- PageTitle -->
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="heading">Reset Account Password</h3>
          </div>
          <div class="col-md-6">
            <ul class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><p class="fs-18">/</p></li>
              <li><p class="fs-18">Reset Password</p></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End PageTitle -->

    <section class="register login">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block-text center">
              <h3 class="heading">Sign In To Gynero</h3>
              <p class="desc fs-20">
                Welcome back! Log In now to start trading
              </p>

            </div>
          </div>
          <div class="col-md-12">
            <div class="flat-tabs">

              <div class="content-tab">
                <div class="content-inner">
                  <form method="post">
                    {% csrf_token %}

                    <div class="form-group s1">
                      <label>Email/ID

                      </label>
                      {{ password_reset_form }}
                    </div>

                    {% if password_reset_form.errors %}
                        <div class="form-group form-check">
                            <span style="color: #d33535;">
                                {{ password_reset_form.errors }}
                            </span>
                        </div>
                    {% endif %}

                    <button type="submit" class="btn-action">Reset Password</button>
                    <div class="bottom">
                      <p>Not a member?</p>
                      <a href="{% url 'login' %}">Sign In</a>
                    </div>

                    <div class="bottom">
                      <p>Didn't receive e-mail ?</p>
                      <a href="{% url 'resend_activation_email' %}">Click here to resend</a>
                    </div>
                  </form>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <script src="{% static 'theme/app/js/aos.js' %}"></script>
    <script src="{% static 'theme/app/js/jquery.min.js' %}"></script>
    <script src="{% static 'theme/app/js/jquery.easing.js' %}"></script>
    <script src="{% static 'theme/app/js/popper.min.js' %}"></script>
    <script src="{% static 'theme/app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'theme/app/js/app.js' %}"></script>
    <script src="{% static 'theme/app/js/jquery.peity.min.js' %}"></script>

    <script src="{% static 'theme/app/js/switchmode.js' %}"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

  </body>
</html>



