{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GYNERO | Sign Up</title>

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'theme/app/dist/app.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <!-- End Style CSS -->

    <link rel="shortcut icon" href="{% static 'theme/assets/images/logo/favicon.png' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'theme/assets/images/logo/favicon.png' %}" />
  </head>

  <body class="body header-fixed">
    <!-- PageTitle -->
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="heading">Sign Up</h3>
          </div>
          <div class="col-md-6">
            <ul class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><p class="fs-18">/</p></li>
              <li><p class="fs-18">Sign Up</p></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End PageTitle -->

    <section class="register">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block-text center">
              <h3 class="heading">Register To Gynero</h3>
              <p class="desc fs-20">
                Register in advance and enjoy the event benefits
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="flat-tabs">
{#              <ul class="menu-tab">#}
{#                <li class="active"><h6 class="fs-16">Email</h6></li>#}
{#                <li><h6 class="fs-16">Mobile</h6></li>#}
{#              </ul>#}

              <div class="content-tab">
                <div class="content-inner">
                  <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {% if form.first_name.errors %}
                            <label>
                                <span class="fs-14"> {{ form.first_name.errors }} </span>
                            </label>
                        {% endif %}

                        {{ form.first_name }}
                    </div>

                    <div class="form-group">
                        {% if form.last_name.errors %}
                            <label>
                                <span class="fs-14"> {{ form.last_name.errors }} </span>
                            </label>
                        {% endif %}

                      {{ form.last_name }}
                    </div>

                    <div class="form-group">
                        {% if form.email.errors %}
                            <label>
                                <span class="fs-14"> {{ form.email.errors }} </span>
                            </label>
                        {% endif %}

                        {{ form.email }}
                    </div>

                    <div class="form-group">
                        {% if form.password1.errors or form.password2.errors %}
                            <label>
                                <span class="fs-14"> Password field not matching </span>
                            </label>
                        {% endif %}

                        {{ form.password1 }}

                        {{ form.password2 }}
                    </div>

                    <div class="form-group">
                        {% if form.company_name.errors %}
                            <label>
                                <span class="fs-14"> {{ form.company_name.errors }} </span>
                            </label>
                        {% endif %}

                      {{ form.company_name }}
                    </div>

                    <div class="form-group">
                        {% if form.company_size.errors %}
                            <label>
                                <span class="fs-14"> {{ form.company_size.errors }} </span>
                            </label>
                        {% endif %}

                        {{ form.company_size }}
                    </div>

                    <div class="form-group">
                        {% if form.sector.errors %}
                            <label>
                                <span class="fs-14"> {{ form.sector.errors }} </span>
                            </label>
                        {% endif %}

                        {{ form.sector }}
                    </div>

                    <div class="form-group">
                        {% if form.phone_number.errors %}
                            <label>
                                <span class="fs-14"> {{ form.phone_number.errors }} </span>
                            </label>
                        {% endif %}

                      {{ form.phone_number }}
                    </div>

                    <button type="submit" class="btn-action"> Sign Up </button>

                      <div class="bottom">
                      <p>Already have an account?</p>
                      <a href="{% url 'login' %}">Sign In</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container-fluid bg">
        <div class="footer__bottom">
          <p>Copyright © 2022 Gynero Portal. All rights reserved.</p>
          <ul class="list-social">
            <li>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="{% static 'theme/app/js/aos.js' %}"></script>
    <script src="{% static 'theme/app/js/jquery.min.js' %}"></script>
    <script src="{% static 'theme/app/js/jquery.easing.js' %}"></script>
    <script src="{% static 'theme/app/js/popper.min.js' %}"></script>
    <script src="{% static 'theme/app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'theme/app/js/app.js' %}"></script>
    <script src="{% static 'theme/app/js/jquery.peity.min.js' %}"></script>

    <script src="{% static 'theme/app/js/switchmode.js' %}"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

  </body>
</html>
