{% extends 'index.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
    Update Profile
{% endblock %}


{% block extra_css %}
    <style>
        .select2-container{
            width: 100% !important;
            max-width: 100%;
        }
        .title-sec h4 {
            font-weight: bold;
            color: #2a2a2a;
        }

        .text-sec p b {
            font-weight: bold;
            color: #2a2a2a;
        }
    </style>
{% endblock %}


{% block content_header %}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row justify-content-end">
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Home</li>
              <li class="breadcrumb-item active"><a href="#">My Account</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">Account Details</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post" >
                    <div class="card-body" style="display: flex; flex-wrap: wrap">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.field.widget.input_type == "checkbox" %}
                                <div class="form-group {% if field.errors %}has-error{% else %}has-feedback{% endif %}"
                                     style="flex: 1 1 50%; padding: 0 20px;">
                                    <div class="form-check">
                                        <label>
                                            {{ field }}
                                            {{ field.label }}
                                        </label>
                                        <div class="help-block text-gray">{{ field.help_text }}</div>
                                        {% if field.errors %}
                                            <ul class="help-block text-danger list-unstyled">
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group {% if field.errors %}has-error{% else %}has-feedback{% endif %}"
                                    style="flex: 1 1 100%; padding: 0 20px;">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <div class="help-block text-gray">{{ field.help_text }}</div>
                                    {% if field.errors %}
                                        <ul class="help-block text-danger list-unstyled">
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {% csrf_token %}
                        <a href="{% url 'view_profile' %}" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}